/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Muli', Arial,Verdana,sans-serif; padding-bottom: 0; color:#000;
   margin-bottom: 260px; /* Margin bottom to match footer height */
}
main {margin-top: 100px; margin-bottom: -22px;}

a, a:active, a:visited {text-decoration: none!important; color:#8dc642;}	
a:hover {color:#18114a!important;}

.blog-masthead {background-color: #e3e7e7; padding-top: 20px; padding-bottom: 20px;}
.blog-masthead .container {background-color: #fff;}
.blog-sidebar {padding: 20px 40px 0px 0px }
.blog-post {padding: 0px 0 20px 50px; border-left: 1px solid #18114a; margin-top: 20px; margin-bottom: 20px; min-height: 320px;}
.blog-main {padding-bottom: 20px;}

h1 {font-size: 35px; color:#18114a;; font-weight:700; padding-bottom: 20px;}
h2 {font-size:18px; color:#18114a; font-weight: 600; text-transform: uppercase;}
h3 {font-size:15px; color:#18114a; font-weight: 600;}
h4 {font-size:12px; color:#8dc642; font-weight: 600; text-transform: uppercase;}
h5 {font-size:12px; color:#8dc642; font-weight: 600; }

p {font-size:14px; color:#000;}
hr { border: 0; height: 1px; border-top:1px #8dc642 solid; width: 100%; padding: 5px 0; margin-top: 20px;}

blockquote {width: 100%; color: #18114a; font-size: 17px; text-align: left; margin: auto; }
blockquote p { font-size: 14px; color:#18114a!important; margin: 20px 0px; padding-left: 30px; border-left: 1px solid #8dc642; font-weight: 700;}

.container .blog-post ul { font-size:16px; line-height: 150%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

.container .blog-post li { color:#000; padding-left: 30px; margin-bottom: 3px;font-size: 14px;}

.container .blog-post ul li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #18114a;
    font-size: 11px;
    margin-top: 2px;
	display: inline-block;
	font-weight:900;
	margin-left: 65px;
}

.btn-submit {
    text-align: center;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #8dc642;
    text-shadow: none;
    font-size: 19px;
    font-weight: 600;
    padding: 4px 60px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn-submit:hover, .btn-submit:focus { background: #18114a; color:#6d6d6d;}

/**************************
NAVBAR
**************************/
.bg-navbar {
    background-color: #fff;
}

.nav-link-active {color:#8cc642!important;}
.nav-item a, .nav-item a:visited {color:#6d6d6d; font-size:18px; padding-bottom: 0px; padding-top: 0px;}
.nav-item a:hover {color:#8cc642!important;}


.navbar-expand-lg .navbar-collapse {position: relative; top:30px; margin-bottom: -30px;}
.navbar-expand-lg .navbar-nav .nav-link {padding-left: 30px; padding-right: 30px;}

.btco-hover-menu {height: 139px; padding: 0 50px 0 80px; position: fixed; z-index: 20000;}
.btco-hover-menu .dropdown-menu {background:#fff!important;  }
.mr-auto, .mx-auto {margin-left: auto !important; margin-right: inherit !important; position: relative; left: 20px;}
.btco-hover-menu .collapse ul ul {left:15px;}
.btco-hover-menu .collapse ul li {min-height: 34px;}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(140,198,66,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0; }

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {position:fixed; top: 25px; right: 55px; z-index: 30000;}
.navbar-contacts a {color: #6d6d6d!important; text-decoration: none; padding:0 5px; font-size:19px; font-weight: 600;}
.navbar-contacts a:hover {color: #8cc642!important;}
.contact-icons {color:#8cc642; font-size:19px; font-weight:700;}

/**************************
NAVBAR - SECONDARY
**************************/
.navbar-secondary {width:100%; background: #18114a; height:26px; position: fixed; top: 139px; text-align: right; padding-right:30px; z-index: 10000;} 
.navbar-secondary a {color:#fff!important; font-size:16px; font-weight:600; text-transform: uppercase; padding: 0 30px;}
.navbar-secondary a:hover {color:#8dc642!important;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
QUICK BUTTONS
**************************/
#quick-buttons {position: fixed; top: 191px; right:0px;  z-index: 1100; margin-right: 50px;}
.quick-buttons-icon:hover{color:#6d6d6d!important; 
   -webkit-box-shadow: -3px 6px 14px 0px rgba(141,198,66,0.8); 
    box-shadow: -3px 6px 14px 0px rgba(141,198,66,0.8);
}

.quick-buttons-icon {color:#fff; font-size:21px; padding: 0 0px 0 20px;text-align: left;  
  height: 60px;
  background-color: #8dc642;
  margin-bottom: 20px;
	
  -webkit-box-shadow: -3px 6px 14px 0px rgba(82,82,82,0.83); 
  box-shadow: -3px 6px 14px 0px rgba(82,82,82,0.83);	
}

.quick-buttons-icon span {position: relative; top: 20px;}
.quick-buttons-icon .line-1 {position: relative; top: 5px; left: -6px;}
.quick-buttons-icon .line-2 {top: -5px; left: -6px; font-size:13px;}

.quick-buttons-icon:before,
.quick-buttons-icon:after {
  content: " ";
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.quick-buttons-icon:before {
  left: 100%;
  border-left: 30px solid #8dc642;
}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
HOME PAGE - SERVICES PANEL
**************************/
.home-services {width: 100%; padding: 0; text-align: left; position:relative; top:-310px; margin-bottom:-310px; z-index: 10}
.home-services-container {width:85%;  text-align: center; margin:auto;}
.home-services-img {padding: 10px 0; text-align: left;}
.home-services h2 {font-size:19px; font-weight: 700; text-transform: uppercase; text-align:left; margin: 10px 0; }
.home-services p {text-align:left; font-size:12px; margin-bottom: 20px; line-height: 160%;}
.home-services-btn {padding: 7px 70px 7px 20px; color: #fff!important; font-size: 13px; border-radius: 20px; font-weight: 600;}
.home-services-btn:hover {background: #fff!important; color:#18114a; border: 1px solid #18114a;}

.home-services-box{
	width: 20%;
}

.home-services-col1 {background:#8dc642; padding: 15px 25px; text-align:left; height:310px;}
.home-services-col1 h2 {color:#5a703d;}
.home-services-col1 p {color:#5a703d;}
.home-services-col1 .home-services-btn {background: #5a703d;}

.home-services-col2 {background:#d9e697; padding: 15px 25px 15px 25px; text-align:left; height:310px;}
.home-services-col2 h2 {color:#7d7f50;}
.home-services-col2 p {color:#7d7f50;}
.home-services-col2 .home-services-btn {background: #7d7f50;}

.home-services-col3 {background:#000; padding: 15px 25px 15px 25px; text-align:left; height:310px; }
.home-services-col3 h2 {color:#9a9b9c;}
.home-services-col3 p {color:#9a9b9c;}
.home-services-col3 .home-services-btn {background: #9a9b9c;}

.home-services-col4 {background:#fff; padding: 15px 25px 15px 25px; text-align:left; height:310px; }
.home-services-col4 h2 {color:#515352;}
.home-services-col4 p {color:#515352;}
.home-services-col4 .home-services-btn {background: #515352;}

.home-services-col5 {background:#e5e5e5; padding: 15px 25px 15px 25px; text-align:left; height:310px;}
.home-services-col5 h2 {color:#515352;}
.home-services-col5 p {color:#515352;}
.home-services-col5 .home-services-btn {background: #515352;}

/**************************
FOOTER - LINKS PANEL
**************************/
.panelLinks {width:100%; background: #fff; text-align: center; margin:auto;}
.home-links {width: 90%; background: #fff; padding: 10px 0; text-align: center; margin: auto;}
.home-links-img {padding: 10px 0;}
.home-links h2 {color:#fff;}
.home-links p {color:#fff;}
.home-links .cycle-slide {width:auto!important;}

/**************************
INNER CAROUSEL
**************************/
.carousel-inside {height: 300px;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module {text-align: right;}
.sidebar-module h4 {font-size:16px; font-weight: 700; color: #18114a; text-transform: inherit; padding-top: 8px;}
.sidebar-module a {color: #000; text-decoration: none;}
.sidebar-module a:hover {color: #8dc642!important;}
.navsidebar .active > a {color: #8dc642;; font-size: 14px;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
LINKS MODULE
**************************/
.links-carousel span img {height:70px; width:auto;}
.links-carousel span {padding: 0 30px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
TEAMS MODULE
**************************/
.team-div {width:100%; clear:both; overflow: hidden; padding:10px 0;}
.team-details {width:70%; float:left;}
.team-photo {width:30%; float:left;}
.team-photo img {border-radius: 15px;}

.team-field {width:100%; clear:both; overflow: hidden; padding:5px 0;}
.team-field-txt {width:15%; float:left; font-weight: 600;}
.team-field-val {width:85%; float:left;}
.team-description p {padding: 10px 0;}

.team-div a {color:#000;}
.team-div a:hover {color: #8dc642!important;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #8dc642; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc; margin-top: 10px;}
.btn-checkout:hover {background: #fff; color:#8dc642; border: 1px solid #8dc642;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 260px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #18114a;
  text-align: left;
  margin-bottom: -21px;	
}

.footerContactsWrapper {width:100%; font-size: 22px; color:#fff; font-weight: 300; height:236px; background: #18114a; text-align: center; margin:auto;}
.footerContacts {width:90%; margin: auto;  position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); text-align: left;}
.footerContacts h2 {font-size: 17px; color:#f6862d; font-weight: 700;}
.footerContacts p {font-size: 17px;}
.footerContacts a {color: #fff; font-size: 14px; font-weight: 600;}
.footerContacts a:hover {color:#8dc642!important; font-size: 14px; font-weight: 600;;}

.footerContacts .row .col-lg-3 {border-left: 1px solid #fff; padding-left:50px;}
.footerContacts .col-logo {border-left:none!important;}
	
.footer-logo {text-align: left;}
.footer-logo img {width:50%;}

.footer-contact {}
.footer-contact h2 {color:#fff; font-size:14px; padding-bottom: 2px;}

#footer-social {color: #fff; width:100%; margin: 0 auto; padding: 40px 0 10px 10px; text-align: left; font-size: 14px; font-weight: 600;}
#footer-social span {padding-right:10px;}
#footer-social i {font-size:20px; padding: 10px;}
#footer-social a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 13px; line-height: 120%;  font-weight: 300;}
#footer-social a:hover > i { color: #8dc642; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; text-align: center; font-size: 12px; background:#000; height:auto; padding-top: 10px; padding-bottom: 10px;}
#footer-txt a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 12px; line-height: 120%; padding: 0 10px; font-weight: 600;}
#footer-txt a:hover{ color: #8dc642!important; text-decoration: none;}
#footer-txt img {padding: 0 50px;}
.footer-txt-logo {display:inline-block;}

.footerContainer {}

.footerDisclaimer {background:#e3e7e7; height:auto; padding: 10px 0;}
.footer-disclaimer {width:80%; margin: auto; color: #838c96; text-align: center; font-size: 11px}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}

/**************************
CONTACT FORM
**************************/
.form-group .fb-required {color: #c10000;}

/**************************
TABS
**************************/
.nav-tabs{
	margin: 0 !important;
}

.nav-tabs .nav-item{
	margin: 0 !important;
	padding-left: 0 !important;
}

.nav-tabs .nav-item:before{
	content: none !important;
}

.nav-tabs .nav-item a, .nav-tabs .nav-item a:visited {
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}


/**************************
RESPONSIVE
**************************/

@media screen and (max-width: 480px) {
	.navbar-logo {width:100%; text-align: center; height: 90px;}
	.navbar-logo img { width: 50%;}
	.navbar-contacts {width:100%; text-align: center; right:auto!important; top:65px; }
	.contact-icons {font-size: 12px;}
	.navbar-contacts a {font-size: 12px;}
	.navbar-toggler {position: absolute!important; top: 0!important; right:0!important;}
	
	.navbar-secondary {top: 90px!important; margin: auto; text-align: center; padding-right:0;}
	.navbar-secondary a {font-size: 11px!important; padding: 0 5px!important;}
	
	.carousel {top: 60px!important;}
	.carousel-item {height:250px!important;}
	.carousel-item > div > img {height:250px!important;}
	
	#quick-buttons {top: 240px!important; margin-right: 37px!important;}
	.quick-buttons-icon {font-size:14px; height: 46px;} 
	.quick-buttons-icon .line-1 {top:7px;}
	.quick-buttons-icon .line-2 {font-size:11px; top: 1px;}
	.quick-buttons-icon:before, .quick-buttons-icon:after {border-top: 23px solid transparent; border-bottom: 23px solid transparent;}
	.quick-buttons-icon:before {border-left: 23px solid #8dc642;}
	
	.footerContacts .row .col-lg-3 {padding-left:0;}
	#footer-txt {/*height: 50px;*/}
	.footer {height:300px;}
	body {margin-bottom: 300px;}
	
	.home-links {width:100%!important;}		
}

@media only screen and  (max-width: 768px) {
    .1container .row {width: 100%; padding: 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;}		
	
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	
	
	.carousel-item {height: 400px;}
	.carousel-item > div > img {height:400px;}
	
	.navbar-secondary { margin: auto; text-align: center; padding-right:0;}
	.navbar-secondary a {padding: 0 20px;}
}

@media only screen and  (max-width: 991px) {
	/* Responsive Menu */
	.btco-hover-menu {padding:0; height: auto;}
	.navbar-contacts {right:0.75rem}
	.mr-auto, .mx-auto {left:0; background: #18114a; padding: 2px 0;}
	.btco-hover-menu {padding: 0px!important;}
	.btco-hover-menu ul li {text-align: center; background: #18114a; min-height: inherit!important; padding: 3px 0;}
	.btco-hover-menu ul li a {background: #fff;}
	.btco-hover-menu ul li a:Hover {background: #fff!important;}
	.navbar-expand-lg .navbar-collapse {position: relative; top: 0px; margin-bottom: 0px;}
	.btco-hover-menu .collapse ul ul.dropdown-menu {height:0;}
	main {margin-top: 0px; margin-bottom: -22px; }
	.navbar-secondary {top:100px;}
	.navbar-toggler {top: 20px; position: relative;}
		
	#quick-buttons {position: absolute; top:150px;}
	.home-links {width:95%;}	
		
	.home-services {width:100%; top: -0px; margin-bottom: 0px;}
	.home-services-container {width: 100%!important;}
	.home-services-container .row {margin:0;}
	.home-services-col1, .home-services-col2, .home-services-col3, .home-services-col4, .home-services-col5 {height:auto;}
	
	.footerContactsWrapper {height:auto; padding: 10px 0;}
	.footerContacts {position: relative;-webkit-transform: none; -ms-transform: none; transform: none;} 
	.footer-logo, #footer-social, .footerContacts .row .col-lg-3 {text-align: center;}
	.footerContacts .row .col-lg-3 {border:none; padding-right: 0;}
	.footer-logo img {width:30%;}
	#footer-social {padding: 0px 0 30px 0;}
	.footer-contact {padding-top:30px;}
	
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 20px;}
	.blog-post {padding:0; border:none;}
	.sidebar-module h4 {text-align:left;}
	.sidebar-module li {text-align:left;}
    .sidebar-module {text-align:left;}

	.home-services-box{
		width: 100%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
	.carousel-item > div > img { height: 572px; }
	.carousel-item {height: 370px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.carousel-item > div > img { height: 572px; }
	#quick-buttons {position: absolute;}
	.btco-hover-menu {padding: 0 20px 0 0px;}
	.navbar-contacts {right:20px;}
	.home-services-col1, .home-services-col2, .home-services-col3, .home-services-col4, .home-services-col5 {padding: 10px;}
	.home-services-btn {padding: 7px 10px 7px 10px;}
	.home-services-container {width: 95%;}
	.home-services h2 {margin: 4px 0;}
	.home-services p {margin-bottom: 5px;}
	.home-services-col1, .home-services-col2, .home-services-col3, .home-services-col4, .home-services-col5 {height:300px;}
	.home-services {top:-300px; margin-bottom: -300px;}
	.footerContacts {width:95%;}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad pro portrait layouts only */
	.footer { height: 270px;}
	.carousel-item { height: 572px; }
	.marketing {min-height: 270px;}
	#quick-buttons {position: absolute;}
}

@media only screen and (max-width: 320px)and (orientation:portrait) {
	/* For iphone 5  portrait layouts only */
	.navbar-secondary a {font-size: 9px!important;}
	.home-services-btn {padding: 7px 20px 7px 20px;}
	#footer-txt a, #footer-txt a:active {font-size:11px;}
}

@media only screen and (max-width: 568px)and (orientation:landscape) {
	/* For iphone 5  landscape layouts only */
	.navbar-secondary a {font-size: 12px!important;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1700px) {
	.home-services-btn {padding: 7px 20px 7px 20px;}	
}

@media only screen and (min-device-width: 769px) and (max-width: 1500px) {
	.home-services-container {width:92%}
	.home-services-col1, .home-services-col2, .home-services-col3, .home-services-col4, .home-services-col5 {padding: 10px;}
	.home-services-col1 img, .home-services-col2 img, .home-services-col3 img, .home-services-col4 img, .home-services-col5 img {height:12%;}
	.home-services-btn {padding: 7px 10px 7px 10px;}

@media only screen and (min-device-width: 769px) and (max-width: 1200px) {	
	.btco-hover-menu {padding: 0 30px 0 0px;}
	.navbar-contacts {right:30px;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 15px; padding-right: 15px;}
	#footer-social span {padding:0;}
	#footer-social i {padding:7px;}
}
